<footer class="bg-info bg-opacity-25 text-center p-4">
    <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, tenetur!</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
