<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= about %>
    </title>
    <%-include('partie/heads')-%>

</head>
<body>
    <%-include('partie/navegacion') %> 
    <main class="vh-100 container pt-2 text-center justify-content-center">
        <section>
            <h1 class="display-1"> About</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur quaerat quo, perferendis modi voluptatibus assumenda necessitatibus, fugit voluptatum sit soluta cumque perspiciatis, voluptates incidunt aperiam inventore itaque a similique iste ipsam rem dolorum fuga. Libero vitae temporibus at repudiandae tenetur recusandae id sit quasi assumenda iusto animi corporis magni qui consectetur soluta rem minima blanditiis, distinctio ducimus officia laudantium quaerat sequi ab! Est pariatur sapiente quo deleniti suscipit ducimus nobis veniam, maiores eos qui consequuntur labore illo quibusdam voluptatum cum repellendus obcaecati quae fugit facilis, harum reiciendis aliquam explicabo officia. Voluptatem similique velit porro consequuntur quae, quia aspernatur repellendus architecto cumque id, in vel magni saepe, odio fuga sapiente suscipit. Amet non odio incidunt! Eius facere asperiores similique delectus incidunt excepturi laudantium sit consequatur officia dolorum ex nemo voluptas molestias obcaecati iure non est perferendis, corrupti soluta deserunt ullam. Atque iure placeat, sed molestiae rerum eius et delectus corporis necessitatibus labore quasi aspernatur dicta quidem ipsam vel alias autem similique? Consectetur minus perferendis nesciunt assumenda. Quod velit placeat commodi perspiciatis dignissimos. Quos et nemo dolores molestiae, accusantium dolorem voluptates saepe sit necessitatibus maxime quisquam totam dolorum veritatis officia labore, harum ad similique ipsam ipsa delectus iure quas at dolore? Placeat.
            </p>
        </section>
    </main>
    <%-include('partie/foote') %> 
</body>
</html>