<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= titulo %>
    </title>
   <%-include('partie/heads')-%>
</head>
<body>

 <%-include('partie/navegacion') %>  
<!--contenido principal-->
<header class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/luna.png" alt=""  class="w-25" > 
    <h2 class="display-1 my-5 text-uppercase fw-bold"> #INFAME</h2>
    <a href="/about" class="btn btn-primary w-25">About</a>
    </div>
</header> 
 <%-include('partie/foote') %>  
</body>

</html>
